# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# vscode
launch.json

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# cert
cert*
secret.properties
base64.txt

# other
eclipse
run
